*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* in order to make 1rem = 10px and we can change easily the px to rem
        font-size by default is 10px
    */
    font-size: 62.5%; 
}

body {
    box-sizing: border-box;
}